# Options for mysqld process:
[MYSQLD]                        
ndbcluster                          # run NDB engine
ndb-connectstring=37.139.13.188      # location of MGM node

# Options for ndbd process:
[MYSQL_CLUSTER]                 
ndb-connectstring=37.139.13.188     # location of MGM node
